* {
  padding: 0;
  margin: 0;
}

canvas {
  background: url("https://media0.giphy.com/media/xUOwFYqBf1hmlmgni8/giphy.gif?cid=3640f6095babeb71474d31696316ec0f");
  background-size: cover;
  display: block;
  margin: auto;
  width: 550px;
  height: 620px;
  margin-top: 60px;
  border-radius: 8px;
  box-shadow: 8px -6px 9px black inset;
}